#div_header {
   padding: 5px;
   margin-bottom: 5px;

}

#div_topBar {
   border: thin solid lightGray;
   padding: 5px;
}

#content {
   padding: 5px;
}

.center {


   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);


}

.black {


   background-color: black;
}

input[type=button], input[type=submit], input[type=reset]{
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 8px 16px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
}

* {
   font-size: 100%;
   font-family: Trocchi;
}

